<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>requirejs实例</title>
    <script type="text/javascript" src="../scripts/jquery-1.11.js"></script>
    <script type="text/javascript" src="../scripts/date.js"></script>
    <script type="text/javascript" src="../scripts/module1.js"></script>
    <script type="text/javascript">

        jQuery(function(){

            //module1
            var username = module1.getUsername("Jihann");
            jQuery("#info").html(username);
            var date = mf.date.currentDate();
            jQuery("#time").html(date);

            //获取模块中的年龄属性
            console.log(module1._age);//undefined
            //通过模块中提供的方法获取年龄
            console.log(module1.getAge());//20
        });
    </script>
</head>
<body>
Welcome jQuery
<p id="info"></p>
当前日期：<h5 id="time"></h5>
</body>
</html>