<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>requirejs实例</title>
    <!-- 加载require.js -->
    <script type="text/javascript" src="../scripts/require.js"></script>
   <!-- <script type="text/javascript" src="../scripts/module/mode-01.js"></script>-->
    <script type="text/javascript">
       // require(['../scripts/module/mode-01']);//加载require自定义模块文件
       require(['../scripts/module/mode-01'], function(){
           //调用回调函数
           alert("Load finished");
       });//加载require自定义模块文件
    </script>
</head>
<body>
    <span>test require.js</span>
</body>
</html>